* {
    margin: 0;
    padding: 0;
    color: #fff;
    background-color: #000;
}

#container {
    margin: 4vw;
}

h1 {
    margin: 2vw 0;
}

#counter u {
    margin: 2vw 0;

}

#counter u p {
    padding: 10px 0;
    font-weight: 100;
}



#msg {
    margin-top: 3vh;
    color: red;
    font-size: 16px;
}

#btn {
    padding: 2vh 0;

}

#btn1 {
    padding: 0.3vw 2vw;
    font-size: 15px;
    cursor: pointer;
    color: #000;
    background-color: #fff;
}

#btn2 {
    margin: 0 1vw;
    padding: 0.3vw 2vw;
    font-size: 15px;
    cursor: pointer;
    color: #000;
    background-color: #fff;
}

#btn3 {
    padding: 0.3vw 2vw;
    font-size: 15px;
    cursor: pointer;
}